body{
    background-image: url('images/pattern_texture1190.jpg');
    background-color: #AB3334; 
}

/*Container for the game*/
.container1{
    height: 560px;
    width: 600px;
    background: rgba(0,0,0,0.6);
    margin: 100px auto;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0px 4px rgba(0,0,0,0.2);
    -moz-box-shadow: 0px 4px rgba(0,0,0,0.2);
    -webkit-box-shadow: 0px 4px rgba(0,0,0,0.2);
    position: relative;
}

/*Score box*/
#score{
    width: 20%;
    background: #B6B6B6;
    color: darkred;
    padding: 10px;
    margin: 10px auto;
    position: absolute;
    border-radius: 5px;
    left: 450px;
    box-shadow: 0px 3px rgba(0,0,0,0.6);
    -moz-box-shadow: 0px 3px rgba(0,0,0,0.6);
    -webkit-box-shadow: 0px 3px rgba(0,0,0,0.6);
    display: none;
}

/*Correct message*/
#correct{
    position: absolute; /*This position is based on the first relative positon*/
    left: 250px;
    background-color: #2bb42b;
    color: aliceblue;
    padding: 11px;
    display: none;
}

/*Wrong message*/
#wrong{
    position: absolute; /*This position is based on the first relative positon*/
    left: 250px;
    background-color: #ef0000;
    color: aliceblue;
    padding: 11px;
    display: none;
}

/*Question box*/
#question{
    width: 90%;
    height: 150px;
    margin: 80px auto 10px auto;
    background-color: #f0f0f0;
    border-radius: 20px;
    box-shadow: 0px 3px rgba(0,0,0,0.2);
    -moz-box-shadow: 0px 3px rgba(0,0,0,0.2);
    -webkit-box-shadow: 0px 3px rgba(0,0,0,0.2);
    font-size: 50px;
    text-align: center;
    color: black;
    z-index: 2px;
}

/*Instruction box*/
#instruction{
    width: 300px;
    background-color: #B6B6B6;
    margin: 10px auto;
    border-radius: 10px;
    color: black;
    line-height: 40px;
    box-shadow: 0px 3px rgba(0,0,0,0.2);
    -moz-box-shadow: 0px 3px rgba(0,0,0,0.2);
    -webkit-box-shadow: 0px 3px rgba(0,0,0,0.2);
}

/*List of answers (answer boxes)*/
#choices{
 height: 120px;
 width: 550px;
 margin: 5px auto; 
 padding: 1px 21px;
 margin-right: 1px;
}

/*Answer boxes*/
.box{
    height: 100px;
    width: 100px;
    margin: 10px auto;
    background-color: #8F0000;
    border-color: #B90101;
    float: left;
    margin-right: 27px;
    border-radius: 30px;
    cursor: pointer;
    box-shadow: 0px 4px rgba(0,0,0,0.2);
    font-size: 30px;
    transition: all 0.4s;
    -o-transition: all 0.4s;
    -webkit-transition: all 0.4s;
    -moz-transition: all 0.4s;
    -ms-transition: all 0.4s;
}

/*When an answer box is selected*/
.box:active{
    border-color: black;
    box-shadow: 0px 0px #161616;
    -moz-box-shadow: 0px 0px #161616;
    -webkit-box-shadow: 0px 0px #161616;
    bottom: 3px;
    position: relative;
}
/*When the start reset button is selected*/
#startReset:active{
    box-shadow: 0px 0px #161616;
    -moz-box-shadow: 0px 0px #161616;
    -webkit-box-shadow: 0px 0px #161616;
    bottom: 3px;
    position: relative;
}

/*When you hover an answer box*/
.box:hover{
    background-color: #690000;
    border-color: #820000;
}

/*Start/Reset button*/
#startReset{
   height: 50px;
   margin: 10px 220px;
   border-radius: 10px; 
   text-align: center;
   position: relative;
   box-shadow: 0px 4px rgba(0,0,0,0.2);
   background-color: #004AC8;
   border-color: #002666;
   transition: all 0.4s;
   -o-transition: all 0.4s;
   -webkit-transition: all 0.4s;
   -moz-transition: all 0.4s;
   -ms-transition: all 0.4s;    
}

/*Start/Reset button hover*/
#startReset:hover{
  background-color: #003692;     
}

/*Time remaining box*/
#timeRemaining{
    width: 190px;
    padding: 10px;
    top: 475px;
    left: 390px;
    position: absolute;
    background-color: rgba(181, 235,36, 0.7);
    border-radius: 10px;
     box-shadow: 0px 2px rgba(181, 235,36, 0.7);
    -moz-box-shadow: 0px rgba(181, 235,36, 0.7);
    -webkit-box-shadow: 0px 2px rgba(0,0,0, 0.2);
/*    visibility: hidden;*/
     display: none; 
}

/*Gameover box*/
#gameOver{
    height: 200px;
    width: 480px;
    color: aliceblue;
    font-size: 2.5em;
    text-align: center;
    text-transform: uppercase;
    position: absolute;
    top: 150px;
    left: 60px;
    z-index: 2;
    background: rgba(169,3,41,1);
    background: -moz-radial-gradient(center, ellipse cover, rgba(169,3,41,1) 0%, rgba(143,2,34,1) 44%, rgba(109,0,25,1) 100%);
    background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, rgba(169,3,41,1)), color-stop(44%, rgba(143,2,34,1)), color-stop(100%, rgba(109,0,25,1)));
    background: -webkit-radial-gradient(center, ellipse cover, rgba(169,3,41,1) 0%, rgba(143,2,34,1) 44%, rgba(109,0,25,1) 100%);
    background: -o-radial-gradient(center, ellipse cover, rgba(169,3,41,1) 0%, rgba(143,2,34,1) 44%, rgba(109,0,25,1) 100%);
    background: -ms-radial-gradient(center, ellipse cover, rgba(169,3,41,1) 0%, rgba(143,2,34,1) 44%, rgba(109,0,25,1) 100%);
    background: radial-gradient(ellipse at center, rgba(169,3,41,1) 0%, rgba(143,2,34,1) 44%, rgba(109,0,25,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a90329', endColorstr='#6d0019', GradientType=1 );
    display: none;
}